
{{#if logged_in}}
<h6>Welcome {{user_name}}</h6>
{{/if}}
<br></br>
<ul class="post-list">
    {{#each blogs as |blog|}}
    <li>
       <article class="post">
    <div class="whole-post">
        <div class="info-section">
            <div class="post-name">
                {{!-- <a href="/blog/{{id}}" class="links">{{blog_name}}</a> --}}
      <span><a href="/api/blogs/{{id}}">{{blog_name}}</a></span>
            </div>
            <div class="created-by">
                <p id="comment-subtitle">
                    Posted by <b>{{user.username}} </b> on <b>{{format_date date_created}}</b>
                </p>
            </div>
        </div>
        <div class="content-section">
            <p>{{description}}</p>
        </div>
    </div>
</article>
    </li>
    {{/each}}
</ul>